* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Define altura total e remove a margem do body */
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Mulish', sans-serif;
}

/* Variáveis de cor */
:root {
    --fundo: #1F2027;
    --fundo-telas: #1D2126; /* Variável unificada para o fundo */
    --vermelho-figma: #D32E2E;
    --branco-figma: #fff;
    --amarelo-figma: #E8BB2D;
    --laranja-figma: #FF9A00;
    --verde-figma: #4CB24A;
    --cinza-figma: #455A64;
    --cinza-texto: #4D4D4D;
    --preto-texto: #000;
    --branco-texto: #fff;
    --verde-entregador-disponivel: #00FF1E;
    --cinza-texto-fundo: #474F5A;
    --cinza-botao-inativo: #818D9F;
    --pedido-nao-aceito: #455A64;
}

/* Configurações de estilo para o body */
body {
    background-color: var(--fundo-telas);
}